.navbar {

  height: 60px;
  background-color: #4b2aad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  color: white;

}

.navbar-logo {

  font-size: 20px;
  font-weight: bold;

}

.navbar-links {

  display: flex;
  gap: 25px;

}

.navbar-links a {

  color: white;
  text-decoration: none;
  font-weight: 500;

}

.navbar-links a:hover {

  text-decoration: underline;

}